$mobile: false;
$grid960: false;

@mixin grid($number_of_columns) {
  @if $number_of_columns == 1  { @include eleven40-onecol; }
  @else if $number_of_columns == 2 { @include eleven40-twocol; }
  @else if $number_of_columns == 3 { @include eleven40-threecol; }
  @else if $number_of_columns == 4 { @include eleven40-fourcol; }
  @else if $number_of_columns == 5 { @include eleven40-fivecol; }
  @else if $number_of_columns == 6 { @include eleven40-sixcol; }
  @else if $number_of_columns == 7 { @include eleven40-sevencol; }
  @else if $number_of_columns == 8 { @include eleven40-eightcol; }
  @else if $number_of_columns == 9 { @include eleven40-ninecol; }
  @else if $number_of_columns == 10 { @include eleven40-tencol; }
  @else if $number_of_columns == 11 { @include eleven40-elevencol; }
  @else if $number_of_columns == 12 { @include eleven40-twelvecol; }
  @else if $number_of_columns == 13 { @include eleven40-thirteencol; }
  @else if $number_of_columns == 14 { @include eleven40-fourteencol; }
  @else if $number_of_columns == 15 { @include eleven40-fifteencol; }
  @else if $number_of_columns == 16 { @include eleven40-sixteencol; }
}

@mixin last {
  @include eleven40-last;
}

@mixin container {
  @include eleven40-container;
}

@mixin row {
  @include eleven40-row;
}

@mixin eleven40-container {
  @if $mobile == true
  {
    @include eleven40-mobile-full;
  }
  @else
  {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin eleven40-row {
  @if $mobile == true
  {
    @include eleven40-mobile-full;
  }
  @else if $grid960 == true
  {
    @include eleven40-960;
  }
  @else {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

// $default-width should include the %
@mixin eleven40-subcolumn($default-width) {
  @if $mobile == true
  {
    @include eleven40-mobile-column;
  }
  @else
  {
    width: $default-width;
    margin-right: 2.4%;
    float: left;
  }
}

@mixin eleven40-onecol {
  @include eleven40-subcolumn(4%);
}

@mixin eleven40-twocol {
  @include eleven40-subcolumn(10.4%);
}

@mixin eleven40-threecol {
  @include eleven40-subcolumn(16.8%);
}

@mixin eleven40-fourcol {
  @include eleven40-subcolumn(23.2%);
}

@mixin eleven40-fivecol {
  @include eleven40-subcolumn(29.6%);
}

@mixin eleven40-sixcol {
  @include eleven40-subcolumn(36%);
}

@mixin eleven40-sevencol {
  @include eleven40-subcolumn(42.4%);
}

@mixin eleven40-eightcol {
  @include eleven40-subcolumn(48.8%);
}

@mixin eleven40-ninecol {
  @include eleven40-subcolumn(55.2%);
}

@mixin eleven40-tencol {
  @include eleven40-subcolumn(61.6%);
}

@mixin eleven40-elevencol {
  @include eleven40-subcolumn(68%);
}

@mixin eleven40-twelvecol {
  @include eleven40-subcolumn(74.4%);
}

@mixin eleven40-thirteencol {
  @include eleven40-subcolumn(80.8%);
}

@mixin eleven40-fourteencol {
  @include eleven40-subcolumn(87.2%);
}

@mixin eleven40-fifteencol {
  @include eleven40-subcolumn(93.6%);
}

@mixin eleven40-sixteencol {
  @include eleven40-subcolumn(100%);
}

@mixin eleven40-last {
  margin-right: 0px;
}