$grid960: true;

@mixin eleven40-960 {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  overflow: hidden;
}

@mixin eleven40-960-column($default-width) {
  width: $default-width;
  margin-right: 2.5%;
  float: left;
}